* {
    font-family: "Cormorant Infant", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin:0;
    background-image: url(/week5-magical-photo-gallery/assets/image/augustine-wong-oebTM5wHTfw-unsplash.jpg);
}

.navbar {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
    margin-top: 0;
    width: 100%;
    box-shadow: rgba(8, 6, 6, 0.5);
}

.navbar ul {
    padding: 0;
}

.navbar li { 
    margin: 0 10px;
    list-style-type: none; 
}
.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

h1 {
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 45px;
    position: relative;
}


h1::after {
    content: "";
    display: block;
    height: 2px;
    background-color: currentColor;
    width: 200px;  
    margin: 10px auto 0;
}

h1:hover {
    color: #2d012d;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 1rem;
    width: 100%; 
} 
img { 
    width: 350px; 
    height: 350px;
    box-shadow:rgb(51, 51, 51, 0.5);
} 
.gallery__item { 
    position: relative; 
    overflow: hidden;
    /* анимация */
    transition: transform 0.5s ease;
    margin: 0 auto;
} 

.gallery__item img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover;
} 

.gallery__item:hover {
    position: relative;
    top: 10px;
    left: 10px;
    /* изменение масштаба при наведении на картину */
    transform: scale(1.05);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
} 

footer, footer a {
    background-color: #2d012d;
    text-align: center;
    max-width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #eb8500;
}

