*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Cormorant Infant", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 159%;
  background-color: #1a1b1d;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  overflow: hidden;
  background: #1a1b1d;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar-items {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navbar-item__link {
  text-decoration: none;
  color: inherit;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.0625em;
}

.navbar-item__link:hover {
  background: #ddd;
  color: black;
}

.gallery__title {
  margin-top: 140px;
  font-size: 1.875em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  color: #f2f2f2;
}

.gallery__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 21px;
  margin: 52px 0 140px 0;
}

.gallery__item {
  max-width: 259px;
  width: 100%;
  height: 303px;
  margin-bottom: 58px;
}

.gallery__item img {
  object-fit: cover;
  width: 259px;
  width: 100%;
  height: 259px;
  cursor: grab;
  box-shadow: 0px 2px 5px rgba(111, 83, 129, 0.3);
  border: 4px double #3cbcc35d;
  filter: grayscale(1);
  /* Черно-белый фильтр для изображения */
  transition: 1s;
  /* Время изменения цвета изображения */
}

.gallery__item:hover img {
  filter: grayscale(0);
  /* Цветное изображение при наведении */
}

.subtitle {
  margin-top: 12px;
  font-size: 1.125em;
  color: #f2f2f2;
}

p {
  margin-top: 4px;
  font-size: 1em;
  color: #f2f2f2;
}

.footer {
  background-color: #3b3b3b;
  color: #fff;
  padding: 20px 0;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.footer address {
  margin: 20px;
  font-size: 14px;
}

.footer address p {
  margin: 5px 0;
}

.footer address a {
  color: #eee;
  text-decoration: none;
}

.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}